.header {
  background-color: rgb(60, 60, 60);
  height: 60px;
  padding-top: 15px;
  padding-left: 15px;
  a {
    color: white;
    text-transform: uppercase;
    span {
      color: red;
    }
  }
}