.movie_section {
  margin-top: 50px;

  .movie_poster {
    text-align: center;

    img {
      object-fit: cover;
    }
  }
  .movie_description {
    margin: 50px 30px 50px;
    font-weight: bold;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 30px;
  }
}